.sidebar h1 {
color: #f2c744;
}
.dashNprofile{
    justify-content: flex-end;
}
.dhead{
    font-size: 0.8rem;
}
.dashNav{
    padding: 0.1rem 1rem;
}
.mainDashboard__header{
    padding-top: 1rem;
}
.sidebar{
    background: #ccc url("../img/credit.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-blend-mode: multiply;
    box-sizing: border-box;
}

.sideNav-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2147483646;
    top:0;
    left:0;
    background: transparent;
}

.sideNav ul{
    padding: 0;
    margin: 0;
}
.sideNavItem{
    text-align: center;
    list-style: none;
    padding: 0.3rem 0.2rem;
    margin-bottom: 1rem;
}
.sideNavItem a{
    text-decoration: none;
    color: #fff;
}

.circle{
    border-radius: 50px;
    border: 2px solid #f2c744;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    box-shadow: 2px 2px 10px #ccc;
}
.user{
    background: url("../img/prof.png");
    background-size: cover;
    background-position: center;
}
.inputGrp{
    justify-content: center;
}

.inputGrp input[type=text]{
    width: 100%;
    padding: 0.6rem 0.4rem;
    margin-bottom: 8px;
    border:1px solid #f2c744;
    border-bottom: 3px solid #f2c744;
    outline: none;
}

.inputGrp input[type=number]{
    width: 100%;
    padding: 0.6rem 0.4rem;
    margin-bottom: 8px;
    border:1px solid #f2c744;
    border-bottom: 3px solid #f2c744;
    outline: none;
}
.inputGrp input[type=date]{
    width: 100%;
    padding: 0.6rem 0.4rem;
    margin-bottom: 8px;
    border:1px solid #f2c744;
    border-bottom: 3px solid #f2c744;
    outline: none;
}
.inputGrp input[type=email]{
    width: 100%;
    padding: 0.6rem 0.4rem;
    margin-bottom: 8px;
    border:1px solid #f2c744;
    border-bottom: 3px solid #f2c744;
    outline: none;
}
.inputGrp select{
    -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none; 
    width: 105%;
    padding: 0.6rem 0.4rem;
    margin-bottom: 8px;
    border:1px solid #f2c744;
    border-bottom: 3px solid #f2c744;
    outline: none;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-bottom: 1rem;
}

label{
    font-size: 0.8rem;
}
.required{
    color: red;
}
.card{
    box-shadow: 2px 2px 20px rgb(202, 198, 198);
    min-height: 10rem;
    border-radius: 3px;
}
.cardBody{
    height: 90%;
    margin: auto 0;
}
.cardBadge{
    position: relative;
    top: -2rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
    min-height: 50px;
    text-align: center;
    background-color: #F2C744;
}

.card table{
    border-collapse: collapse;
    padding: 0.5rem 0.6rem;
}
 tr{
    font-size: 0.8rem;
}
.card td,.card th{
    text-align: center;
    border-left: 1px solid #ccc;
    padding: 0.8rem 0.5rem;
}
th{
    background-color: #ccc;
}
tr:nth-child(even){
    background-color: #ecebbf;
}
tr:nth-child(odd){
    background-color: rgb(248, 245, 229);
}
.tdBtn{
    text-align: center;
    padding: 0.4rem 0.4rem;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#F2C744;
}
.reject button{
    text-align: center;
    background: #E95A53;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
}
.approve button{
    text-align: center;
    background: rgb(103, 245, 146);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
}
/* small screens */
.pt{
    padding-top: 0.5rem;
}
.tabcontent{
    display: none;
}
.tablinks{
    padding: 1rem 0.5rem;
    width: 100%;
    background: none;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: #888;
}

aside > .logo  a{
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    right: 30px;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    /* width: 100%;  */
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    /* width: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    padding-bottom: 2rem;
  }
  /* animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #F2C744;
    color: white;
  }
  .modal-body {padding: 2px 16px;}

  .modal-body button {
      padding: 0.7rem 1.2rem;
  }
.modal-footer {
  padding: 2px 16px;
  background-color: #F2C744;
  color: white;
}
@media only screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        overflow-x: visible;
    }
    /* hide table headers */
    /* td::before {
        position: absolute;
        top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
    } */
   
    .cardBadge {
        font-size: 0.rem;
    }
   .mainDashboard__header{
       display:none;
   }
   .mainDasboard{
       width: 100%;
   }
   .pt{
    padding-top: 0.5rem;
}
.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

.mainDashboard_s_header{
    width: 100%;
}
.line_s{
    border: 2px solid #F2C744;
    margin-bottom: 5px;
    width: 25px;
}
.navBtn_s{
    background: none;
    border: none;
    outline: none;
}

.navBtn_s:active{
    box-shadow: 0 3px 10px rgb(238, 243, 133);
    transform: translateY(4px);
}
}