body{
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.4;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
body {
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    word-break: break-word;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0.4rem 0.2rem;
}
p{
     margin: 0.4rem 0.2rem;
}
.text_center{
   
}
.caret {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-top: 2px;
  }
  .mb-2{
      margin-bottom: 2rem;
  }
.container{
    width: 90%;
    margin: 0 auto;
    padding: 0  1rem;
}
.col{
    display: flex;
    flex-direction: column;
}
.col__Center{
    justify-content: center;
    align-items: center;
}
.col__Spread{
    justify-content:space-between;
}
.row{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.row__center{
    align-items: center;
}
.text_center{
    text-align: center;
}
.row__spread{
    justify-content:space-between;
}
.row-center{
    justify-content: center;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:24.99%;
}
.col-4{
    width:33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.98%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.30%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}
.col__End{
    justify-content: flex-end;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-4{
    margin-top: 4rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.ml-1{
    margin-right: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.padding{
    padding: 2rem 0;
}
.padding-s{
    padding: 2rem, 0;
}
.btn{
    padding: 0.5em 20px;
    background:#F2C744;
    color: #595959;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.btn:active{
    border: none;
    background-color: #F2C744;
    box-shadow: 0 3px 10px rgb(238, 243, 133);
    transform: translateY(4px);
}
 .btn-outline{
     background: none;
    border:1px solid#F2C744;
    color:#F2C744;
 }
 .btn-outline:hover{
     background: #F2C744;
     color: #595959;
 }
.btn-round{
    border-radius: 4px;
}
.btn-lg{
    font-size:1.8rem;
    padding: 0.3em 0.5em;
    margin: 1rem 0.2rem;
}
.btn a{
    text-decoration: none;
    color:#595959;
}

.navBtn{
    padding: 0.8rem 0.5rem;
    display: none;
    background: none;
    border: none;
}
.navBtn:active{
    box-shadow: 0 3px 10px rgb(238, 243, 133);
    transform: translateY(4px);
}

.line{
    border: 2px solid #F2C744;
    margin-bottom: 10px;
    width: 40px;
}

.links a{
    text-decoration: none;
}
.logoArea{
    padding-top: 0.5rem;
}
.stats {
    font-size: 0.8rem;
    text-align: center;
}
.stats1n2{
    margin-right: 0.5rem;
}
.nav{
    background : #595959;
    opacity: 0.8;
    padding: 0.2rem 0.7rem;
}
.nav li{
    list-style:none;
}
.nav li a{
    padding: 5px 2px;
    color: #F2C744;
}
.nav li a:hover{
    border-bottom: 2px solid #F2C744;
    border-bottom-width: 70%;
}
.navLinks{
    margin:0;
}
.search{
    text-align: right;
    padding: 0.6rem 0.3rem;
}
.search input[type=search]{
    padding: 0.3rem 0;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #F2C744;
    color: #F2C744;
}
.search button{
    background: none;
    border: none;
    outline: none;
}
.mainDashboard_s_header{
    display: none;
}
.sideNavItem{
    text-align: center;
    list-style: none;
    padding: 1rem 0.2rem;
}
.sideNavItem a{
    text-decoration: none;
    color: #fff;
}
.sidenav {
    display: none;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    right: 0px;
    background-color: rgb(102, 102, 102);
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s ease 0s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 1.4rem;
    margin-left: 50px;
    font-size: 1.6rem;
}
.sidenav ul{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.sidenav li{
    list-style: none;
}
.sidenav a{
    text-decoration: none;
    color: #F2C744;
}
.sidenav a:hover{
    border-bottom: 2px solid #F2C744;
border-bottom-width: 70%;
}
.paddinglr{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#landingPage{
    background: #595959 url("../img/credit-card.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #F2C744;
}
.banner{
    background: #ccc;
}
.requestCallBack{
    background: #F2C744 url("../img/happy.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: #595959;
}
.requestCallBackForm input{
    background: none;
    border:none;
    border-bottom: 2px solid #F2C744;
    color: #fff;
    outline: none;
}
.requestCallBackForm input::placeholder{
    color: #fff;
}
.requestCallBackForm textarea{
    border: 2px solid #F2C744;
    background: none;
    outline: none;
    color: #fff;
}
.requestCallBackForm textarea::placeholder{
    color: #fff;
}
.quote{
    font-size: 6rem;
    padding: 0;
    margin: 0;
}
.yoursFaithfully{
    font-weight: bold;
}
.r-txt-align{
    text-align: right;
}
footer{
    background: #3d3d3d;
    color: #F2C744;
}
.address ul{
    padding: 0;
    margin: 0;
}
footer li{
    list-style: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .stats,.nav{
        display: none;
    }

    .navBtn{
        display: inline-block;
    }
    aside{
        display: none;
    }
    .mainDashboard_s_header{
        display: block;
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    
    
  }